body {
  padding: 25px;
  background-image: url("/assets/images/baggrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  display: inline;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 10x solid red; }
  body .grid-container {
    padding: 0 !important; }

h3 {
  margin: 0;
  padding: 0;
  font-family: 'BigNoodleTitling';
  font-weight: 100;
  font-size: 1.6rem; }

.show {
  visibility: visible; }

.hide {
  visibility: hidden; }

.container.link {
  cursor: pointer; }

.border {
  border: 1px solid red; }

.float-right {
  float: right; }

.flip-it {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH; }

img {
  vertical-align: middle; }

input {
  font: inherit;
  font-family: inherit;
  margin: 0; }

.content {
  max-width: 1024px; }

.span-save {
  text-decoration: none;
  vertical-align: middle; }

.margins {
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px; }

.padding {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-top: 2px; }

.rounded-box {
  border-width: 0px;
  border-radius: 4px; }

button {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start; }

.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ccc;
  background-color: #203040;
  border-color: #102030; }

.btn:hover, .btn:focus, .btn:active {
  color: #fff;
  border-color: #102030;
  background-color: #506070; }

.dark-blue-bg {
  background-color: #203040; }

.medium-blue-bg {
  background-color: #304050; }

.text-on-blue {
  color: #ccc; }

.todo-text {
  height: 200px;
  background-color: #eee; }

.todo-text-edit {
  width: 97%; }

.mainmenu {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'BigNoodleTitling';
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-bottom: 80px;
  padding: 0 30px 0 50px;
  /* highlight hovered item a bit... */
  /* ...but not if it is already selected */
  /* needs to be defined after topbar-item */ }
  .mainmenu .mainmenu-item {
    display: inline;
    padding: 0 25px 0 0;
    position: relative;
    color: inherit;
    text-decoration: inherit; }
  .mainmenu .mainmenu-item-inactive {
    cursor: pointer; }
  .mainmenu a:hover.mainmenu-item {
    color: inherit;
    text-decoration: inherit; }
  .mainmenu a:hover.mainmenu-item-active {
    color: #c5463e;
    text-decoration: inherit; }
  .mainmenu .mainmenu-item-active {
    color: #c5463e;
    cursor: default; }

.topbar {
  margin: 20px 0 20px 0;
  padding: 0 30px 0 50px; }
  .topbar .logo-to {
    padding-top: 25px; }

.sidebar-heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-size: 1.3em; }

.sidebar-heading-skin {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #071720; }

.sidebar-item-borders {
  color: inherit;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #304050;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #071720;
  border-right-width: 0px;
  border-left-width: 0px; }

.sidebar-item-borders:last-child {
  border-bottom-width: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.sidebar-item {
  display: block;
  padding: 5px 15px;
  position: relative;
  color: inherit;
  text-decoration: inherit; }

.sidebar-item-inactive {
  cursor: pointer; }

/* highlight hovered item a bit... */
a:hover.sidebar-item {
  color: #eee;
  text-decoration: inherit; }

/* ...but not if it is already selected */
a:hover.sidebar-item-active {
  color: inherit;
  text-decoration: inherit; }

/* needs to be defined after sidebar-item */
.sidebar-item-active {
  font-weight: bold;
  border-top-color: #031017;
  border-bottom-color: #203040;
  background-image: none;
  background-color: #102030;
  cursor: default; }

/* in headline */
.current-item {
  font-size: 18px;
  font-weight: bold;
  height: 28px;
  line-height: 36px; }

.current-item-edit {
  width: 80%;
  color: #333;
  line-height: 18px; }

.frontpage {
  padding: 0 30px 0 50px; }

.game {
  margin: 0px;
  padding: 0px;
  width: 1024px;
  height: 648px;
  max-width: 1024px;
  position: absolute;
  top: 0px; }
  .game .close-btn {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    z-index: 2000; }
  .game .preload-wrapper {
    width: 1024px;
    height: 648px;
    background-image: url("/assets/images/gameteaser.jpg");
    background-repeat: no-repeat;
    background-position: top left; }
  .game .canvas {
    position: absolute;
    top: 0px;
    width: 1024px;
    height: 648px;
    margin: 0px;
    padding: 0px; }

.footer {
  font-size: small;
  width: 100%;
  text-align: center; }
