<!doctype html>
<html lang="en">

<head>
  <title>Fattiggård eller Fjendeland</title>
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css"></link>
  <link rel="stylesheet" href="css/unsemantic-grid-responsive.css"></link>
  <link rel="stylesheet" href="css/styles.css"></link>
  <link rel="stylesheet" href="fonts/BigNoodle/BigNoodleTitling-Regular.css"></link>
  <base href="/">
</head>

<body>
  <div class="content grid-container" ng-app="webApp">

    <div class="grid-100 grid-parent">

      <!-- Topbar -->
      <div ng-controller="TopbarCtrl" class="margins topbar">
        <img src="./assets/images/logo.png">
        <img src="./assets/images/forsorgsmuseet_logo_small.png" class="float-right logo-to">
      </div>

      <!-- Main Menu -->
      <div class="mainmenu">
        <div ng-controller="MainmenuCtrl" ng-show="show()">
          <a ng-repeat="item in getItems()" ng-click="select(item)" class="mainmenu-item" ng-class="getCssClass(item)">
            <span ng-bind="item.title"></span>
          </a>
        </div>      
      </div>

    </div>

    <div ng-view></div>
  </div>
  <script src="dist/app.js" type="text/javascript"></script>

</body>
</html>
