<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fattigg&aring;rd eller fjendeland</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="fonts/BigNoodle/BigNoodleTitling-Regular.css" />
    <base href="/">
  </head>

  <body>
    <div class="background"></div>
    <div class="container" ng-app="webApp">
      <div class="row">
        <div class="col-xs-12">

          <!-- Topbar -->
          <div class="row topbar">
            <div class="col-xs-6">
              <div ng-controller="TopbarCtrl">
                <a ng-click="selectByIndex(0)" class="link">
                  <img src="./assets/images/logo.png">
                </a>
              </div> 
            </div>
            <div class="col-xs-6">
              <div class="float-right logo-to">
                <a href="http://www.svendborgmuseum.dk/da/forsorgs.html" target="_blank">
                  <img src="./assets/images/forsorgsmuseet_logo_small.png">
                </a>
              </div>              
            </div>
          </div>

          <!-- Main Menu -->
          <div class="row mainmenu">
            <div class="col-xs-10">
              <div ng-controller="MainmenuCtrl" ng-show="show()">
                <a ng-repeat="item in getItems()" ng-click="select(item)" class="mainmenu-item" ng-class="getCssClass(item)">
                  <span ng-bind="item.title"></span>
                </a>
              </div> 
            </div>
            <div class="col-xs-2">
              <div class="float-right">
                <a href=" https://www.facebook.com/Forsorgsmuseet" target="_blank">
                  <img src="./assets/images/fb_logo.png" class="fb-logo">
                </a>
              </div>              
            </div>
          </div>

          <div ng-view autoscroll></div>
		</div>
      </div>
    </div>
    <script src="dist/app.min.js" type="text/javascript"></script>
  </body>
</html>
