.collection{
	@include pagePadding();

	.list{
		margin-top: 30px;
		margin-left: 2px;
		.item{
			img{
				margin-right: 10px;
			}
		}
		.item:hover{
			cursor: pointer;
		}
	}

	.wrapper-vimeo{
		border: 1px solid #e1e2e3;
		background-color: #FFF;
		width: 305px;
		height: 176px;
		padding: 4px;
		margin-bottom: 56px;

		.title{
			margin-top: 5px;
		}
	}
	.right-col{
		padding: 0 0 0 15px; 
	}

	.sidebar{
		margin: 0px;
		padding: 0px;

		text-transform: uppercase;  
		font-size: 2.3rem;
		font-family: 'BigNoodleTitling';
		font-weight: 100;
		letter-spacing: 0.1rem;
		margin-bottom: 80px;

		.sidebar-item {    
		  display: block;
		  padding: 0;
		  position: relative;
		  color: inherit;
		  text-decoration: inherit;
		}
		.sidebar-item-inactive {
		  cursor: pointer;
		}
		a:hover.sidebar-item {
		  color: inherit;
		  text-decoration: inherit;
		}
		a:hover.sidebar-item-active {
		  color: $menuColorActive;
		  text-decoration: inherit;
		}
		.sidebar-item-active {
		  color: $menuColorActive;
		  cursor: default;
		}
	}

	.content{		
		margin: 0;
		padding: 0;

		.slider{
			.counter{
				display: block;
				padding-top: 10px;
				span{
					margin-left: 260px;
				}
			}

			.slider-box{
				display: block;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 360px;
				// height: 123px;	
				// position: relative;	
				// top:0;
				// left:0;
				.wrapper{
					position: absolute;
					top: 0;
					left: 32px;
					.slide{			
						position:absolute;
						top: 0;
						left: 0;
					}
				}
				.arrow{
					position: absolute;
					top: 143px;
					width: 23px;
					cursor: pointer;
					img{
						width: inherit;
					}
					&.left{

					}
					&.right{
						left: 553px;
					}
				}
			}	
		}	
	}
}