.game{
	margin: 0px;
	padding: 0px;
	// border: 1px solid blue;
	width: 1024px;
	height: 648px;
	max-width: $maxWidth;
	position: absolute;
	top: 0px;
	.close-btn{
		width: 50px;
		height: 50px;
		background-color: rgba(0, 0, 0, .5);
		position: absolute;
		right: 0;
		z-index: 2000;
	}
	.preload-wrapper{
		width: 1024px;
		height: 648px;
		background-image: url('/assets/images/gameteaser.jpg');
		background-repeat: no-repeat;
		background-position: top left;
	}	
	.canvas{
		position: absolute;
		top: 0px;
		width: 1024px;
		height: 648px;
		margin: 0px;
		padding: 0px;
	}	
}