<div class="about">
    <div class="row">
      <div class="col-xs-12">
        "Fattiggård eller fjendeland" er udviklet af Forsorgsmuseet i Svendborg.
        <br/ ><br/ >
        Projetkleder: Jeppe Wichmann Rasmussen<br/ >
        Undervisningskonsulent: ...<br/ >
        Udvikling af spil og web: Tripledesign<br/ >
        Speakere: ...
        <br/ ><br/ >
        Tak til vores samarbejdspartnere...
        <br/ ><br/ ><br/ >
        Tak for projektstøtte til:
      </div>      
    </div>
    <div class="row">
        <div class="col-xs-12 logo">
            <img src="./assets/images/logo_kulturstyrelsen.png" alt="">
        </div>
    </div>
</div>
