<div class="about">
    <div class="row">
      <div class="col-xs-12">
        Fattiggård eller fjendeland er et digitalt undervisningsmateriale til udskolingen samt elever på ungdomsuddannelsernes første år. Undervisningsmaterialet er baseret på helt ny forskning og er et digitalt dilemmaspil, som handler om en række danske mænd, der under 2. verdenskrig sad indespærret på forskellige danske arbejdsanstalter. Fik man arbejde opnåede man samtidig tilladelse til at forlade anstalterne. Derfor endte flere af disse mænd med at lade sig hverve til tysklandsarbejde i et forsøg på at undslippe anstalterne og klare sig selv. I spillet skal eleverne tage stilling til de samme dilemmaer, som disse fattige og udsatte danskere stod over for under 2. Verdenskrig og dermed tage aktivt del i deres historie.
        <br/><br/>
        Til udskolingslæreren er der skrevet lærervejledning, udviklet undervisningsforløb til historie med bud på tilknyttede læringsmål samt et eksempel på inddragelse af dilemmaspillet i historieprøven. 
        <br/><br/>
        Dilemmaspillet er udviklet af Forsorgsmuseet i Svendborg i samarbejde med Horsens museum, spiludviklerfirmaet Tripledesign og en undervisningskonsulent, som har kvalificeret spillet didaktisk. Spillet er baseret på et omfattende kildemateriale fra Rigsarkivet København, Rigsarkivet Odense, Københavns Stadsarkiv, Horsens Kommunalarkiv og Svendborg Byhistoriske Arkiv. Under fanen ”Kildesamling” er der en komplet liste over anvendt litteratur og kildemateriale. Der er anvendt billedmateriale fra Nationalmuseet, www.horsensbilleder.dk, Svendborg Byhistoriske Arkiv, Slesvig Bibliotek, Det Kongelige Bibliotek, Nørre Sundby Lokalarkiv, Billedbyroet, Fagfotografen og www.filmcentralen.dk.
        <br/><br/>
        Fattiggård eller fjendeland har haft tilknyttet følgeforskning, der har undersøgt det konkrete projektets samarbejdsrelationer mellem museet, skolerne og kommunen.  Forsorgsmuseet har i projektet haft et dobbeltstrenget samarbejde med skolerne i form af en lærer ansat som undervisningskonsulent på museet en dag om ugen til projektet samt i form af lærere til tyve udskolingsklasser fra Svendborg kommune, som testede museets produkt. For iværksættelse af disse samarbejder og videndeling af projektet har museet samarbejdet med skoleledere og skolechefen i kommunen. Undersøgelsen har set på disse forskellige roller og niveauer i samarbejdet samt dets kommunikationsveje. Historielab har forestået følgeforskningen og skrevet en rapport på baggrund af den. Rapporten finder du her på siden.
        <br/><br/>
        Projektet er støttet af Kulturstyrelsen.
        <br/><br/>
        Projektansvarlig, forskning og manuskript: Jeppe Wichmann Rasmussen, Forsorgsmuseet
        <br/>
        Undervisningskonsulent: Ulrik Vestergaard Jensen, Rantzausminde Skole
        <br/>
        Udvikling af spil og web: Tripledesign
        <br/>
        Museumsfaglig Sparring: Horsens Museum
        <br/>
        Udarbejdelse af rapport: Marie Bonde Olesen, Historielab
        <br/>
        Speakere: Peter Svarre Hald, Peter Darger, Jesper Groth, Filippa Suenson, Maiken Nysom
        <br/>
        Musik: Mikkel Momberg Kieler-Laustsen 9.a Rantzausminde Skole    
    </div>
    <div class="row">
        <div class="col-xs-12 logo">
            <img src="./assets/images/logo_kulturstyrelsen.png" alt="">
        </div>
    </div>
</div>
