<div class="collection row">
  <div class="col-xs-2">
  	<div class="sidebar" ng-controller="SidebarCtrl">
  		<a ng-repeat="item in getItems()" ng-click="select(item)" class="sidebar-item" ng-class="getCssClass(item)">
            <span ng-bind="item.title"></span>
        </a>	
  	</div>
    
  </div>
  <div class="content col-xs-10">
    <div class="row">
      <div class="col-xs-12">
        <collectionheader />
      </div>
    </div>
  	<div class="row list">
        <div class="col-xs-12">
            <div ng-repeat="item in getArticles()" ng-click="select(item)" class="item">
              <div class="link">
                <img src="./assets/images/pdf-logo.png" alt="">
                <span>
                  {{item.title}}
                </span>
              </div>                
            </div>
        </div>
    </div>
  </div>
</div>