<div class="collection row">
  <div class="col-xs-2">
  	<div class="sidebar" ng-controller="SidebarCtrl">
  		<a ng-repeat="item in getItems()" ng-click="select(item)" class="sidebar-item" ng-class="getCssClass(item)">
            <span ng-bind="item.title"></span>
        </a>	
  	</div>
    
  </div>
  <div class="content col-xs-10">
    <div class="row list">
        <div class="col-xs-12">
          <!-- Source block -->
          <div ng-repeat="item in getTexts()" class="item">
            <div class="row text-container">
              <div class="col-xs-12">
                <!-- Text -->
                <div ng-repeat="txt in item.text">
                  <span ng-bind-html="txt"></span>
                </div>
              </div>
            </div>  
            <!-- Files -->
            <div ng-repeat="file in item.files" ng-click="select(file)" class="row file link">
              <div class="col-xs-1">
                <img src="./assets/images/pdf-logo.png" alt="">
              </div>
              <div class="col-xs-11">
                <div class="title">{{file.title}}</div>
              </div>
            </div>                       
          </div> 
        </div>
    </div>
  </div>
</div>