<div class="frontpage">
  <div class="wrapper image-left">sdfsdf</div>
  <div class="wrapper image-right">ssd</div>
</div>
<!--   <div class="container link" ng-click="selectByIndex(2)">
    <div class="wrapper">
      <img src="./assets/images/frontpage1.jpg" alt="">      
    </div>    
    <div><h3>KILDESAMLING</h3></div> 
  </div>
  <div class="container link" ng-click="selectByIndex(1)">
    <div class="wrapper float-right">
      <img src="./assets/images/frontpage2.jpg">      
    </div>    
    <div class="float-right"><h3>SPIL SPILLET</h3></div> 
  </div>  
</div> -->
<!-- <div class="frontpage">
  <div class="grid-35 grid-parent container link" ng-click="selectByIndex(2)">
    <div class="wrapper">
      <img src="./assets/images/frontpage1.jpg" alt="">      
    </div>    
    <div><h3>KILDESAMLING</h3></div> 
  </div>
  <div class="grid-65 grid-parent container link" ng-click="selectByIndex(1)">
    <div class="wrapper float-right">
      <img src="./assets/images/frontpage2.jpg">      
    </div>    
    <div class="float-right"><h3>SPIL SPILLET</h3></div> 
  </div>  
</div> -->
