<div class="guide">
    <div class="row">
      <div class="col-xs-12">
        Her finder du lærervejledning til dilemmaspillet, forslag til et undervisningsforløb til historie med spillet som omdrejningspunkt inklusive bud på tilknyttede læringsmål og bevægelse i undervisningen. Du finder også et eksempel på inddragelse af dilemmaspillet i historieprøven.  
      </div>      
    </div>
    <div class="row list">
        <div class="col-xs-12">
            <div ng-repeat="item in getItems()" ng-click="select(item)" class="item">
                <img src="./assets/images/pdf-logo.png" alt="">
                {{item.title}}
            </div>
        </div>
    </div>
</div>
