<div class="guide">
    <div class="row">
      <div class="col-xs-12">
        "Fattiggård eller fjendeland" er et digitalt dilemmaspil til udskolingsklasser... 
        <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
      </div>      
    </div>
    <div class="row list">
        <div class="col-xs-12">
            <div ng-repeat="item in getItems()" ng-click="select(item)" class="item">
                <img src="./assets/images/pdf-logo.png" alt="">
                {{item.title}}
            </div>
        </div>
    </div>
</div>
